body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Mengatur gaya untuk container utama */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

/* Mengatur gaya untuk header */
header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #007BFF;
}

header h1 {
    font-size: 2.5em;
    color: #007BFF;
}

header p {
    font-size: 1.2em;
    color: #555;
}

/* Mengatur gaya untuk section */
section {
    margin: 20px 0;
}

section h2 {
    font-size: 1.8em;
    color: #007BFF;
    border-left: 5px solid #007BFF;
    padding-left: 10px;
    margin-bottom: 10px;
}

section p, section ul {
    font-size: 1em;
    line-height: 1.6;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    background: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Mengatur gaya untuk footer */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid #007BFF;
    font-size: 0.9em;
    color: #555;
}
